.app {
  padding: 12px;
  background-color: #282c34;
  color: #fafafa;
  min-height: 100vh;
}
.card {
  border: 1px solid #3f3f3f;
  padding: 12px;
  margin-top: 12px;
}
.input {
  width: 100%;
  max-width: 240px;
  padding: 12px 6px;
  border-radius: 24px;
}
.my {
  margin-top: 12px;
  margin-bottom: 12px;
}
.rate {
  margin-left: 12px;
}
